@import url(https://fonts.googleapis.com/css?family=Open+Sans);
.btn {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 4px 10px 4px;
  margin-bottom: 0;
  font-size: 13px;
  line-height: 18px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    from(#ffffff),
    to(#e6e6e6)
  );
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr=#ffffff, endColorstr=#e6e6e6, GradientType=0);
  border-color: #e6e6e6 #e6e6e6 #e6e6e6;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border: 1px solid #e6e6e6;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),
    0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),
    0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),
    0 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  *margin-left: 0.3em;
}
.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  background-color: #e6e6e6;
}
.btn-large {
  padding: 9px 14px;
  font-size: 15px;
  line-height: normal;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.btn:hover {
  color: #333333;
  text-decoration: none;
  background-color: #e6e6e6;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -ms-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}
.btn-primary,
.btn-primary:hover {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  color: #ffffff;
}
.btn-primary.active {
  color: rgba(255, 255, 255, 0.75);
}
.btn-primary {
  /*background-color: #4a77d4;*/
  background-color: #2751a5;
  background-image: -moz-linear-gradient(top, #201f27, #31293b);
  background-image: -ms-linear-gradient(top, #201f27, #31293b);
  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    from(#201f27),
    to(#31293b)
  );
  background-image: -webkit-linear-gradient(top, #046b77, #2c2e41);
  background-image: -o-linear-gradient(top, #201f27, #31293b);
  background-image: linear-gradient(top, #201f27, #31293b);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr=#6eb6de, endColorstr=#4a77d4, GradientType=0);
  border: 1px solid #0d1527;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),
    0 1px 2px rgba(0, 0, 0, 0.5);
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  filter: none;
  background-color: #2f2c3f;
}
.btn-block {
  width: 100%;
  display: block;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Open Sans", sans-serif;
  color: white;
  background: #092756;
  /*background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%),-moz-linear-gradient(top,  rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%), -moz-linear-gradient(-45deg,  #670d10 0%, #092756 100%);*/
  background: -webkit-radial-gradient(
      0% 100%,
      ellipse cover,
      rgba(0, 0, 0, 0.4) 10%,
      rgba(51, 51, 255, 0) 40%
    ),
    -webkit-linear-gradient(top, rgba(179, 179, 255, 0.25) 0%, rgba(
            0,
            231,
            255,
            0.4
          )
          100%),
    -webkit-linear-gradient(-45deg, #000 0%, #000 100%);
  background: -moz-radial-gradient(
      0% 100%,
      ellipse cover,
      rgba(0, 0, 0, 0.4) 10%,
      rgba(51, 51, 255, 0) 40%
    ),
    -moz-linear-gradient(top, rgba(179, 179, 255, 0.25) 0%, rgba(
            0,
            231,
            255,
            0.4
          )
          100%),
    -moz-linear-gradient(-45deg, #000 0%, #000 100%);
  background: -o-radial-gradient(
      0% 100%,
      ellipse cover,
      rgba(0, 0, 0, 0.4) 10%,
      rgba(51, 51, 255, 0) 40%
    ),
    -o-linear-gradient(top, rgba(179, 179, 255, 0.25) 0%, rgba(0, 231, 255, 0.4)
          100%),
    -o-linear-gradient(-45deg, #000 0%, #000 100%);
  background: -ms-radial-gradient(
      0% 100%,
      ellipse cover,
      rgba(0, 0, 0, 0.4) 10%,
      rgba(51, 51, 255, 0) 40%
    ),
    -ms-linear-gradient(top, rgba(179, 179, 255, 0.25) 0%, rgba(
            0,
            231,
            255,
            0.4
          )
          100%),
    -ms-linear-gradient(-45deg, #000 0%, #000 100%);
  /*background: -o-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -o-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -o-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
	background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -ms-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -ms-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
	background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), linear-gradient(to bottom,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), linear-gradient(135deg,  #670d10 0%,#092756 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3E1D6D', endColorstr='#092756',GradientType=1 );*/
}
.login {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -150px 0 0 -150px;
  width: 300px;
  height: 300px;
}
.login h1 {
  color: #fff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  letter-spacing: 1px;
  text-align: center;
}

#forgot {
  text-align: center;
}
input[type="radio"],
input.radio {
  width: 30px;
}
#basemapSelector h4 {
  margin: 1px;
}
#basemapSelectorForm {
  background-color: #2751a5;
  background-image: -moz-linear-gradient(top, #201f27, #31293b);
  background-image: -ms-linear-gradient(top, #201f27, #31293b);
  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    from(#201f27),
    to(#31293b)
  );
  background-image: -webkit-linear-gradient(top, #046b77, #2c2e41);
  background-image: -o-linear-gradient(top, #201f27, #31293b);
  background-image: linear-gradient(top, #201f27, #31293b);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr=#6eb6de, endColorstr=#4a77d4, GradientType=0);
  border: 1px solid #0d1527;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),
    0 1px 2px rgba(0, 0, 0, 0.5);
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  position: fixed;
  bottom: 0;
}
input,
select {
  width: 100%;
  margin-bottom: 10px;
  background: rgba(0, 0, 0, 0.3);
  border: none;
  outline: none;
  padding: 10px;
  font-size: 13px;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.2),
    0 1px 1px rgba(255, 255, 255, 0.2);
  -webkit-transition: box-shadow 0.5s ease;
  -moz-transition: box-shadow 0.5s ease;
  -o-transition: box-shadow 0.5s ease;
  -ms-transition: box-shadow 0.5s ease;
  transition: box-shadow 0.5s ease;
}

.fadein {
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1s; /* Firefox < 16 */
  -ms-animation: fadein 1s; /* Internet Explorer */
  -o-animation: fadein 1s; /* Opera < 12.1 */
  animation: fadein 1s;
  animation-fill-mode: forwards;
}
#welcome {
  text-align: center;
  opacity: 0;
  -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 4s; /* Firefox < 16 */
  -ms-animation: fadein 4s; /* Internet Explorer */
  -o-animation: fadein 4s; /* Opera < 12.1 */
  animation: fadein 4s;
  animation-delay: 1s;
  -webkit-animation-delay: 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation-delay: 1s; /* Firefox < 16 */
  -ms-animation-delay: 1s; /* Internet Explorer */
  -o-animation-delay: 1s; /* Opera < 12.1 */
  animation-fill-mode: forwards;
}

#joke {
  text-align: center;
  opacity: 0;
  -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 4s; /* Firefox < 16 */
  -ms-animation: fadein 4s; /* Internet Explorer */
  -o-animation: fadein 4s; /* Opera < 12.1 */
  animation: fadein 4s;
  animation-delay: 4s;
  -webkit-animation-delay: 4s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation-delay: 4s; /* Firefox < 16 */
  -ms-animation-delay: 4s; /* Internet Explorer */
  -o-animation-delay: 4s; /* Opera < 12.1 */
  animation-fill-mode: forwards;
}

input:focus {
  box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.4),
    0 1px 1px rgba(255, 255, 255, 0.2);
}

body a {
  color: white;
}

.leaflet-popup-content tr {
  color: black !important;
}
.leaflet-popup-content h4 {
  margin-top: 0;
}
table {
  border: none;
  border-collapse: collapse;
  width: 100%;
}
#datatable {
  overflow-y: auto;
  height: 100%;
  padding-bottom: 200px;
  clear: both;
}
#titlecontainer {
  float: left;
}
.signincontrols {
  float: right;
  padding: 20px;
  padding-top: 40px;
}
#titlecontainer a {
  text-decoration: none;
}
.clearfloat {
  clear: both;
}
#titleContainer h4 {
  margin-top: 0px;
  margin-bottom: 5px;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#welcome {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
#logo {
  float: left;
}
.headerlink {
  padding-left: 10px;
  padding-right: 10px;
  display: inline;
  text-decoration: none;
}
.leaflet-popup-content-wrapper {
  max-width: 400px;
  max-height: 250px;
  overflow-y: auto;
}
.leaflet-popup-content {
  padding-top: 5px;
  padding-bottom: 5px;
}
.leaflet-popup-tip {
  /*visibility: hidden;*/
}

a.leaflet-popup-close-button {
  padding-right: 35px !important;
}
.leaflet-popup-content {
  width: 345px !important;
}
.leaflet-shadow-pane {
  /*visibility:hidden;*/
}
.leaflet-marker-pane {
  /*opacity: 100;*/
}
/*.leaflet-marker-icon{
    margin-top: -7px !important;
    width: 20px !important;
    height: 20px !important;
}*/
#editToolbar {
  width: 85px;
  height: 150px;
  position: absolute;
  z-index: 2;
  top: 190px;
  left: 15px;
}
#basemapSelector {
  width: 85px;
  height: 150px;
  position: absolute;
  z-index: 2;
  top: 505px;
  left: 15px;
}

#wmslegend {
  position: absolute;
  z-index: 2;
  top: 205px;
  right: 15px;
  overflow: auto;
  max-width: 250px;
  max-height: 400px;
}
#trnlegend {
  position: absolute;
  z-index: 9999;
  top: 170;
  right: 15;
  overflow: auto;
  max-width: 400px;
  max-height: 400px;
}
#editMapDiv {
  height: 100%;
  width: 100%;
}
#mapId {
  z-index: 1;
  height: 100%;
  width: 100%;
  cursor: pointer;
  clear: both;
}
.ui-tooltip {
  z-index: 999999999;
  position: absolute;
  color: black;
  background-color: white;
}
.ui-tooltip-content {
  text-align: left;
  font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
  margin: 5px;
  cursor: grab;
}
.leaflet-tooltip {
  z-index: 999999999;
  position: absolute;
  color: black;
  background-color: white;
}
textarea {
  resize: vertical;
  white-space: pre-wrap;
}
td {
  white-space: pre-wrap;
}

leaflet-left {
  bottom: 200px !important;
}
.leaflet-control-layers-selector {
  width: 30px;
}
.leaflet-control-layers {
  left: 70%;
  width: 30%;
  max-width: 29%;
}
.leaflet-control-layers-list {
  height: 100% !important;
  max-height: 200px !important;
  overflow-y: auto !important;
  overflow-x: hidden !important;
}
#layerGroupSelector {
  float: left;
  z-index: 9999;
  position: fixed;
  top: 345px;
  left: 80%;
  background: white;
  color: #5e5e5e;
  padding: 10px;
  border-radius: 8px;
  margin-left: 10px;
  font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
}
#grid-container {
  padding-top: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(28%, 1fr));
  grid-gap: 1rem;
  padding: 10px;
}
#appgrid {
  padding-top: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(28%, 1fr));
  grid-gap: 1rem;
}
#appgrid a:link {
  font-size: 0.8em;
  text-decoration: none;
}
.grid-item {
  /*background-color: rgba(255, 255, 255, 0.8);*/
  padding: 20px;
  font-size: 30px;
  text-align: center;
  background-color: #00000052;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 100%;
}
.grid-item:hover {
  background-color: #00000082;
}
.leaflet-control-layers {
  position: fixed !important;
  bottom: 10px;
}
.ui-tooltip {
  /*display: none !important;*/
}
.commentContainer {
  background-color: #27364942;
  border-radius: 10px;
  padding: 1px;
  padding-left: 10px;
  padding-right: 10px;
}
.comment {
}
.commentUser {
  font-style: italic;
  font-size: 0.9em;
}
.commentDate {
  font-style: italic;
  font-size: 0.9em;
}
.replies li {
  background-color: rgba(55, 136, 146, 0.19);
  list-style-type: none;
  border-radius: 10px;
  padding: 1px;
  padding-left: 10px;
  padding-right: 10px;
}
#editModal,
#commentModal,
#exportModal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 50%;
  top: 50%;
  width: 500px;
  max-height: 400px;
  margin-left: -200px;
  margin-top: -160px;
  color: #000;
  padding: 10px;
  background-color: #fff;
  border-color: #ccc;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 16px 16px -10px rgba(34, 47, 62, 0.15),
    0 0 40px 1px rgba(34, 47, 62, 0.15);
  /*display: flex;*/
  /*flex-direction: column;*/
  max-height: 65%;
  max-width: 480px;
  overflow-y: auto;

  /*border-radius: 8px;
    padding:10px;
    overflow-y: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.8);*/
}
#exportModal a {
  color: #000;
}
#commentModal textarea {
  background-color: (#fff);
  color: #000;
}
#confirmEditLayerButtonContainer {
  float: left;
  margin-left: 10px;
}
#cancelEditLayerButtonContainer {
  margin-left: 85%;
}
#commentButtonContainer,
#replyButtonContainer {
  text-align: right;
  padding-top: 3px;
}

#commentHeader {
  width: 100%;
  min-height: 35px;
  padding-top: 5px;
  padding-bottom: 5px;
}
#commentHeader h4 {
  float: left;
}
#commentHeader button {
  float: right;
}
#closeEditModalButton,
#closeCommentModalButton,
#closeExportModalButton {
  float: right;
  border: none;
  background-color: #fff;
}
#layerList ul {
  list-style-type: none;
}
#exportButton {
  display: block;
  position: absolute;
  right: 1%;
  top: 190px;
  z-index: 3;
  width: 100px;
}
